.l-Clear-File:before {
  content: "\e77e";
}

.l-clear1:before {
  content: "\e648";
}

.l-left:before {
  content: "\e628";
}

.l-back1:before {
  content: "\e662";
}

.l-home1:before {
  content: "\e69c";
}

.l-sousuo:before {
  content: "\e603";
}

.l-appreciate:before {
  content: "\e644";
}

.l-check:before {
  content: "\e645";
}

.l-close:before {
  content: "\e646";
}

.l-emoji:before {
  content: "\e64a";
}

.l-favor:before {
  content: "\e64c";
}

.l-location:before {
  content: "\e651";
}

.l-roundcheck:before {
  content: "\e657";
}

.l-roundclose:before {
  content: "\e659";
}

.l-roundright:before {
  content: "\e65b";
}

.l-search:before {
  content: "\e65c";
}

.l-time:before {
  content: "\e65f";
}

.l-warn:before {
  content: "\e663";
}

.l-camera:before {
  content: "\e665";
}

.l-comment:before {
  content: "\e667";
}

.l-like:before {
  content: "\e669";
}

.l-notification:before {
  content: "\e66b";
}

.l-back:before {
  content: "\e679";
}

.l-list:before {
  content: "\e682";
}

.l-more:before {
  content: "\e684";
}

.l-scan:before {
  content: "\e689";
}

.l-settings:before {
  content: "\e68a";
}

.l-question:before {
  content: "\e691";
}

.l-pic:before {
  content: "\e69b";
}

.l-pulldown:before {
  content: "\e69f";
}

.l-pullup:before {
  content: "\e6a0";
}

.l-right:before {
  content: "\e6a3";
}

.l-refresh:before {
  content: "\e6a4";
}

.l-refund:before {
  content: "\e6ac";
}

.l-cart:before {
  content: "\e6af";
}

.l-qrcode:before {
  content: "\e6b0";
}

.l-delete:before {
  content: "\e6b4";
}

.l-home:before {
  content: "\e6b8";
}

.l-link:before {
  content: "\e6bf";
}

.l-lock:before {
  content: "\e6c0";
}

.l-unlock:before {
  content: "\e6c2";
}

.l-friend:before {
  content: "\e6cc";
}

.l-add:before {
  content: "\e6da";
}

.l-fold:before {
  content: "\e6de";
}

.l-wifi:before {
  content: "\e6f2";
}

.l-share:before {
  content: "\e6f3";
}

.l-down:before {
  content: "\e703";
}

.l-mobile:before {
  content: "\e704";
}

.l-female:before {
  content: "\e71a";
}

.l-male:before {
  content: "\e71c";
}

.l-album:before {
  content: "\e734";
}

.l-people:before {
  content: "\e736";
}

.l-tag:before {
  content: "\e752";
}

.l-post:before {
  content: "\e759";
}

.l-upload:before {
  content: "\e75d";
}

.l-write:before {
  content: "\e761";
}

.l-add1:before {
  content: "\e767";
}

.l-move:before {
  content: "\e768";
}

.l-all:before {
  content: "\e6ef";
}

