.sakura-sun:before {
	content: "\e6a1";
}

.sakura-moon:before {
	content: "\e6a2";
}

.sakura-link:before {
	content: "\e7e2";
}

.sakura-search:before {
	content: "\e66d";
}

.sakura-map:before {
	content: "\e677";
}

.sakura-more:before {
	content: "\e639";
}

.sakura-weibo-circle:before {
	content: "\e648";
}

.sakura-zhifubao-circle:before {
	content: "\e607";
}

.sakura-weixin-circle:before {
	content: "\e608";
}

.sakura-github:before {
	content: "\e741";
}

.sakura-github-circle-fill:before {
	content: "\e66f";
}

.sakura-arrow-left:before {
	content: "\e606";
}

.sakura-mobile:before {
	content: "\e60b";
}

.sakura-phone:before {
	content: "\e893";
}

.sakura-clear:before {
	content: "\e643";
}

.sakura-back:before {
	content: "\e647";
}

.sakura-home:before {
	content: "\e617";
}

.sakura-grid:before {
	content: "\e600";
}

.sakura-tag:before {
	content: "\e637";
}

.sakura-anniu:before {
	content: "\e642";
}

.sakura-appreciate:before {
	content: "\e644";
}

.sakura-check:before {
	content: "\e645";
}

.sakura-close:before {
	content: "\e646";
}

.sakura-emoji:before {
	content: "\e64a";
}

.sakura-favor:before {
	content: "\e64c";
}

.sakura-roundcheck:before {
	content: "\e657";
}

.sakura-arrow-round-close:before {
	content: "\e659";
}

.sakura-arrow-round-right:before {
	content: "\e65b";
}

.sakura-time:before {
	content: "\e65f";
}

.sakura-warn:before {
	content: "\e663";
}

.sakura-camera:before {
	content: "\e665";
}

.sakura-comment:before {
	content: "\e667";
}

.sakura-like:before {
	content: "\e669";
}

.sakura-notification:before {
	content: "\e66b";
}

.sakura-list:before {
	content: "\e682";
}

.sakura-scan:before {
	content: "\e689";
}

.sakura-settings:before {
	content: "\e68a";
}

.sakura-question:before {
	content: "\e691";
}

.sakura-pic:before {
	content: "\e69b";
}

.sakura-pulldown:before {
	content: "\e69f";
}

.sakura-pullup:before {
	content: "\e6a0";
}

.sakura-arrow-right:before {
	content: "\e6a3";
}

.sakura-refresh:before {
	content: "\e6a4";
}

.sakura-refund:before {
	content: "\e6ac";
}

.sakura-cart:before {
	content: "\e6af";
}

.sakura-qrCode:before {
	content: "\e6b0";
}

.sakura-delete:before {
	content: "\e6b4";
}

.sakura-link-fill:before {
	content: "\e6bf";
}

.sakura-lock:before {
	content: "\e6c0";
}

.sakura-unlock:before {
	content: "\e6c2";
}

.sakura-friend:before {
	content: "\e6cc";
}

.sakura-fold:before {
	content: "\e6de";
}

.sakura-wifi:before {
	content: "\e6f2";
}

.sakura-share:before {
	content: "\e6f3";
}

.sakura-down:before {
	content: "\e703";
}

.sakura-female:before {
	content: "\e71a";
}

.sakura-male:before {
	content: "\e71c";
}

.sakura-album:before {
	content: "\e734";
}

.sakura-people:before {
	content: "\e736";
}

.sakura-post:before {
	content: "\e759";
}

.sakura-upload:before {
	content: "\e75d";
}

.sakura-write:before {
	content: "\e761";
}

.sakura-plus:before {
	content: "\e767";
}

.sakura-remove:before {
	content: "\e768";
}

.sakura-all:before {
	content: "\e6ef";
}
