.sakura-home:before {
	content: "\e617";
}

.sakura-xiajiantoucu:before {
	content: "\e605";
}

.sakura-grid:before {
	content: "\e600";
}

.sakura-biaoqian:before {
	content: "\e637";
}

.sakura-anniu:before {
	content: "\e642";
}

.sakura-Clear-File:before {
	content: "\e77e";
}

.sakura-clear1:before {
	content: "\e648";
}

.sakura-left:before {
	content: "\e628";
}

.sakura-back1:before {
	content: "\e662";
}

.sakura-home1:before {
	content: "\e69c";
}

.sakura-sousuo:before {
	content: "\e603";
}

.sakura-appreciate:before {
	content: "\e644";
}

.sakura-check:before {
	content: "\e645";
}

.sakura-close:before {
	content: "\e646";
}

.sakura-emoji:before {
	content: "\e64a";
}

.sakura-favor:before {
	content: "\e64c";
}

.sakura-location:before {
	content: "\e651";
}

.sakura-roundcheck:before {
	content: "\e657";
}

.sakura-roundclose:before {
	content: "\e659";
}

.sakura-roundright:before {
	content: "\e65b";
}

.sakura-search:before {
	content: "\e65c";
}

.sakura-time:before {
	content: "\e65f";
}

.sakura-warn:before {
	content: "\e663";
}

.sakura-camera:before {
	content: "\e665";
}

.sakura-comment:before {
	content: "\e667";
}

.sakura-like:before {
	content: "\e669";
}

.sakura-notification:before {
	content: "\e66b";
}

.sakura-back:before {
	content: "\e679";
}

.sakura-list:before {
	content: "\e682";
}

.sakura-more:before {
	content: "\e684";
}

.sakura-scan:before {
	content: "\e689";
}

.sakura-settings:before {
	content: "\e68a";
}

.sakura-question:before {
	content: "\e691";
}

.sakura-pic:before {
	content: "\e69b";
}

.sakura-pulldown:before {
	content: "\e69f";
}

.sakura-pullup:before {
	content: "\e6a0";
}

.sakura-right:before {
	content: "\e6a3";
}

.sakura-refresh:before {
	content: "\e6a4";
}

.sakura-refund:before {
	content: "\e6ac";
}

.sakura-cart:before {
	content: "\e6af";
}

.sakura-qrcode:before {
	content: "\e6b0";
}

.sakura-delete:before {
	content: "\e6b4";
}

.sakura-link:before {
	content: "\e6bf";
}

.sakura-lock:before {
	content: "\e6c0";
}

.sakura-unlock:before {
	content: "\e6c2";
}

.sakura-friend:before {
	content: "\e6cc";
}

.sakura-add:before {
	content: "\e6da";
}

.sakura-fold:before {
	content: "\e6de";
}

.sakura-wifi:before {
	content: "\e6f2";
}

.sakura-share:before {
	content: "\e6f3";
}

.sakura-down:before {
	content: "\e703";
}

.sakura-mobile:before {
	content: "\e704";
}

.sakura-female:before {
	content: "\e71a";
}

.sakura-male:before {
	content: "\e71c";
}

.sakura-album:before {
	content: "\e734";
}

.sakura-people:before {
	content: "\e736";
}

.sakura-tag:before {
	content: "\e752";
}

.sakura-post:before {
	content: "\e759";
}

.sakura-upload:before {
	content: "\e75d";
}

.sakura-write:before {
	content: "\e761";
}

.sakura-add1:before {
	content: "\e767";
}

.sakura-move:before {
	content: "\e768";
}

.sakura-all:before {
	content: "\e6ef";
}
