@use "sass:map";
@use "../../libs/styles/design" as *;
$navbar: () !default;
$navbar: map.merge(
	(
		background-color: get-base-color-var('primary'),
		font-size: get-css-var($fontSizeMd),
		border-color: #eef,
		height: 44px
	),
	$navbar
);
.#{$namespace}-navbar {
	&--header {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		height: map.get($navbar, 'height');
		font-size: 12px;
		flex-direction: row;
		justify-content: center;
		position: relative;
	}
	&--var {
		@include define-preset-values('navbar', $navbar);
	}

	&--border {
		border-bottom-width: 1rpx;
		border-bottom-style: solid;
		border-bottom-color: map.get($navbar, 'border-color');
	}

	&--left,
	&--right {
		/* #ifndef APP-NVUE */
		overflow: hidden;
		display: flex;
		/* #endif */
		flex-wrap: nowrap;
		flex-direction: row;
		// width: 120rpx;
		justify-content: center;
		align-items: center;
		/* #ifdef H5 */
		cursor: pointer;
		/* #endif */
		position: absolute;
		padding: 0 10px;
		top: 0;
		bottom: 0;
		&--icon {
			display: flex;
			align-items: center;
		}
	}
	&--left {
		left: 0;
	}
	&--right {
		right: 0;
	}

	&--title {
		// flex: 1;
		display: flex;
		align-items: center;
		font-weight: 700;
		text-overflow: ellipsis;
		/* #ifndef APP-PLUS-NVUE */
		white-space: nowrap;
		display: flex;
		overflow: hidden;
		/* #endif */
		/* #ifdef APP-PLUS-NVUE */
		lines: 1;

		/* #endif */
		&--center {
			justify-content: center;
		}

		&--text {
			font-size: map.get($navbar, 'font-size');
		}
	}
	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
	}
	&--placeholder {
		width: 100%;
		height: map.get($navbar, 'height');
		&--view {
			width: 100%;
		}
	}
}
