@use "../../libs/styles/design" as *;
$notice: () !default;
$notice: map-merge(
	(
		color: (
			text: get-base-color-var('warning'),
			background: get-css-var('color-warning-light-9')
		),
		left: (
			margin-right: 10rpx
		),
		text: (
			size: get-css-var('font-size-md')
		),
		right: (
			margin-left: 10rpx
		)
	),
	$notice
);
.#{$namespace}-notice {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex: 1;
	align-items: center;
	padding: get-css-var('notice-bar-padding');
	color: get-css-var('notice-bar-color-text');
	background-color: get-css-var('notice-bar-color-background');
	&--var {
		@include define-css-var('notice-bar-padding', 20rpx 24rpx);
		@include define-css-var('notice-bar-height', 20px);
		@include define-map-all($notice, 'notice-bar');
	}
	&--content {
		flex: 1;
		display: flex;
		position: relative;
		overflow: hidden;
	}
	&--wrapable {
		align-items: baseline;
	}
	&--text {
		font-size: get-css-var('notice-bar-text-size');
		&--single {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&--wrapable {
			white-space: normal;
			word-wrap: break-word;
		}
	}
	&--left {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		margin-right: get-css-var('notice-bar-left-margin-right');
	}
	&--right {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		margin-left: get-css-var('notice-bar-right-margin-left');
	}
	&--scrollable {
		/* #ifdef APP-NVUE */
		lines: 1;
		padding-left: 750rpx;
		/* #endif */
		/* #ifndef APP-NVUE */
		display: flex;
		flex-direction: row;
		white-space: nowrap;
		padding-left: 100%;
		animation: notice 10s 0s linear infinite both;
		/* #endif */
	}

	@keyframes notice {
		0% {
			transform: translateZ(0);
		}
		100% {
			transform: translate3d(-100%, 0, 0);
		}
	}
}
