@use "sass:map";
@use "../../libs/styles/design" as *;
$text: () !default;
$text: map.merge(
	(
		color: get-css-var('color-text-base'),
		size-xs: get-css-var($fontSizeXs),
		size-sm: get-css-var($fontSizeSm),
		size-md: get-css-var($fontSizeMd),
		size-lg: get-css-var($fontSizeLg)
	),
	$text
);
$textSize: 'text-size-' !default;
$size: sx, sm, md, lg !default;
.#{$namespace}-text {
	color: get-css-var('text-color');
	font-size: get-css-var('text-size-md');
	&--vars {
		@include define-preset-values('text', $text);
	}

	@mixin define-text-style($style-map) {
		@include define-preset-style('text', $style-map);
	}

	@each $type in $types {
		@at-root {
			&--#{$type} {
				@include define-text-style(
					(
						color: 'color' $type 'base'
					)
				);
			}
		}
	}
	display: inline-block;

	@each $name in $size {
		&--#{$name} {
			font-size: get-css-var($textSize + #{$name});
		}
	}

	&--block {
		width: 100%;
		display: block;
	}
}
