@use "sass:map";
@use "../../libs/styles/design" as *;
.#{$namespace}-popup {
	position: fixed;
	/* #ifndef APP-NVUE */
	z-index: 999;
	/* #endif */
	&--wrapper-top,
	&--wrapper-left,
	&--wrapper-right {
		/* #ifdef H5 */
		top: var(--window-top);
		/* #endif */
		/* #ifndef H5 */
		top: 0;
		/* #endif */
	}
	&--content {
		transition: all 0.25s;
	}
	&--top {
		position: fixed;
		left: 0;
		right: 0;
		&--round {
			border-bottom-left-radius: 20rpx;
			border-bottom-right-radius: 20rpx;
		}
	}
	&--top,
	&--bottom {
		width: 100% !important;
	}
	&--left,
	&--right {
		position: fixed;
		bottom: 0;
		top: 0;
		.#{$namespace}-popup--content {
			width: 400rpx;
		}
	}
	&--left {
		left: 0 !important;
	}
	&--center {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
	&--right {
		right: 0 !important;
	}
	&--bottom {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		&--round {
			border-top-left-radius: 20rpx;
			border-top-right-radius: 20rpx;
		}
	}
	&--pc {
		/* #ifndef APP-NVUE */
		z-index: 10000;
		/* #endif */
	}
}
